:root{
    --conformity-level-color-10:rgba(128, 128, 128, 0.3);
    --conformity-level-color-30:rgba(255, 0, 0, 0.3);
    --conformity-level-color-50:rgba(255, 166, 0, 0.3);
    --conformity-level-color-70:rgba(0, 0, 255, 0.3);
    --conformity-level-color-90:rgba(0, 128, 0, 0.3);
}

.conformity-level-bg-progress_bar{
    background-color: rgba(128, 128, 128, 0.2);
    height: 5px;
    width: 14rem;
    margin-top: 1rem;
}

.conformity-level-badge-10{
    background-color: var(--conformity-level-10-color);
}

.conformity-level-badge-30{
    background-color: var(--conformity-level-color-30);
}

.conformity-level-badge-50{
    background-color:var(--conformity-level-color-50);
}

.conformity-level-badge-70{
    background-color: var(--conformity-level-color-70);
}

.conformity-level-badge-90{
    background-color: var(--conformity-level-color-90);
}

.conformity-level-bg-10{
    background-color: var(--conformity-level-color-10);
}

.conformity-level-bg-30{
    background-color: var(--conformity-level-color-30);
}

.conformity-level-bg-50{
    background-color: var(--conformity-level-color-50);
}

.conformity-level-bg-70{
    background-color: var(--conformity-level-color-70);
}

.conformity-level-bg-90{
    background-color: var(--conformity-level-color-90);
}

.empty-attachment-icon{
    color: rgb(143, 1, 13);
    border: solid rgb(143, 1, 13);
    border-radius: 1em;
    margin: 0.5em;
}

