.conformity-level-10 {
    color: gray;
}

.conformity-level-30 {
    color: red;
}

.conformity-level-50 {
    color: orange;
}

.conformity-level-70 {
    color: blue;
}

.conformity-level-90 {
    color: green;
}