.conformity-level-10 {
    color: gray;
}

.conformity-level-30 {
    color: red;
}

.conformity-level-50 {
    color: orange;
}

.conformity-level-70 {
    color: blue;
}

.conformity-level-90 {
    color: green;
}

.conformity-level-bg-progress_bar{
    background-color: rgba(128, 128, 128, 0.2);
    height: 5px;
    width: 14rem;
    margin-top: 1rem;
}

.conformity-level-badge-10{
    background-color: rgba(128, 128, 128, 0.2);
}

.conformity-level-badge-30{
    background-color: rgba(255, 0, 0, 0.2);
}

.conformity-level-badge-50{
    background-color:rgba(255, 166, 0, 0.2);
}

.conformity-level-badge-70{
    background-color: rgba(0, 0, 255, 0.2);
}

.conformity-level-badge-90{
    background-color: rgba(0, 128, 0, 0.2);
}
